@model IEnumerable<WebApplication2.Alumno>

@{

    
    var grid = new WebGrid(source: Model ,canPage: true, rowsPerPage: 5);
    grid.Pager(WebGridPagerModes.All);
}
<h2>Hijos registrados</h2>
<style type="text/css">
    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: black;
    }

        .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #f1c4c4;
        color: #272130;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #808080;
        padding: 3px 7px 2px;
    }
</style>


<div id="content">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Hijo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Hijo)
                </td>
            </tr>
        }

    </table>
    
</div>



