<!DOCTYPE html>
<html lang="en">
<head>
    <title>KidsCoin | Padres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Eduardo Hernández">
    <meta name="description" content="KidsCoin | Padres" />
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

    <script type="text/javascript" src="@Url.Content("~/Content/")scriptTablaCafeteria.js"></script>
    <script src="@Url.Content("~/Content/Padres/")js/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/Padres/")js/skel.min.js"></script>
    <script src="@Url.Content("~/Content/Padres/")js/skel-layers.min.js"></script>
    <script src="@Url.Content("~/Content/Padres/")js/init.js"></script>
    <script src="@Url.Content("~/Content/")js/jquery-1.9.1.min.js"></script>
    <script src="@Url.Content("~/Content/")js/jsqrcode-combined.min.js"></script>
    <script src="@Url.Content("~/Content/")js/html5-qrcode.min.js"></script>
    
    <link rel="stylesheet" href="@Url.Content("~/Content/Padres/")css/bootstrap.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Padres/")css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Padres/")css/modern-business.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Padres/")font-awesome/css/font-awesome.min.css" />

    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/Padres/")img/logo.ico">
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

</head>
<body class="landing">

    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2>
                    <a class="navbar-brand" id="header">
                        @Html.ActionLink("KidsCoin", "Index", "Home")
                    </a>
                </h2>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        <li><a href="">Hola, @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Invitado")</a></li>
                        //<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        if (Request.IsAuthenticated)
                        {
                            if (ViewData["rol"].Equals("padres"))
                            {
                                <li>@Html.ActionLink("Cuenta", "Index", "Padres")</li>
                            }
                            <li>@Html.ActionLink("Cerrar sesión", "Logout", "MyAccount")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Iniciar sesión", "Login", "MyAccount")</li>
                        }
                    }
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container">
    </div>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/")js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Content/")js/bootstrap.min.js"></script>
</body>


</html>
