<!DOCTYPE html>
<html lang="en">
<head>
    <title>KidsCoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Eduardo Hernández">
    <meta name="description" content="KidsCoin" />
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->

    <script type="text/javascript" src="@Url.Content("~/Content/")scriptTablaCafeteria.js"></script>
    <script src="@Url.Content("~/Content/Cafeteria/")js/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/Cafeteria/")js/skel.min.js"></script>
    <script src="@Url.Content("~/Content/Cafeteria/")js/skel-layers.min.js"></script>
    <script src="@Url.Content("~/Content/Cafeteria/")js/init.js"></script>
    <script src="@Url.Content("~/Content/")js/jquery-1.9.1.min.js"></script>
    <script src="@Url.Content("~/Content/")js/jsqrcode-combined.min.js"></script>
    <script src="@Url.Content("~/Content/")js/html5-qrcode.min.js"></script>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/")tablaCafeteria.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Cafeteria/css/")formulario.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Cafeteria/")css/style.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Cafeteria/")css/style-xlarge.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Cafeteria/")css/style-medium.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Cafeteria/")css/style-small.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Cafeteria/")css/style-xsmall.css" />
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/Content/Cafeteria/")img/logo.ico">
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

</head>
<body class="landing">

    <!-- Header -->
    <header id="header">
        <h1>@Html.ActionLink("KidsCoin", "Index", "Home")</h1>
        <nav id="nav">
            <ul>
                @{
                    <li>Hola, @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Invitado")</li>
                    //<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    if (Request.IsAuthenticated)
                    {
                        if (ViewData["rol"].Equals("cafeteria"))
                        {
                            <li>@Html.ActionLink("Reporte de ventas", "ReporteVentas", "Cafeteria")</li>
                            <li>@Html.ActionLink("Cafetería", "Cafeteria", "Cafeteria")</li>
                        }

                        using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutform" }))
                        {
                            <li><a href="javascript:document.getElementById('logoutform').submit()">Cerrar sesión</a></li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Iniciar sesión", "Login", "MyAccount")</li>
                    }
                }
            </ul>
        </nav>
    </header>
    <section id="banner">
     <div style="width:335px; height:150px"></div>
        <ul class="actions">
            <li>

            </li>
        </ul>
    </section>
    <div>
        @RenderBody()
    </div>
</body>
   
    
</html>
