@model IEnumerable<WebApplication2.User>

@{
    ViewBag.Title = "Registro Alumnos";
}
<div style="font-family:Arial">
    <h2>Buscar Padre</h2>
    <p>
        @using (@Html.BeginForm("RegistroAlumnos", "Servicios", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.RadioButton("searchBy", "UserName", true) <text>Usuario</text>
            @Html.TextBox("search") <input type="submit" value="Buscar" />
        }
    </p>
    <table border="1">
        
        @if (Model.Count() == 1)
        {
           
        
            foreach (var item in Model)
            {
                <tr >
                    <td rowspan="4" width="30%">
                        <h3><b>  @Html.DisplayFor(modelItem => item.UserID)</b> </h3>
                    </td>
                    <td rowspan="4" width="35%">
                     <h3> <b>   @Html.DisplayFor(modelItem => item.FirstName)</b></h3>
                    </td>
                    <td rowspan="4" width="35%">
                     <h3> <b>  @Html.DisplayFor(modelItem => item.LastNane)</b></h3> 
                    </td>

                </tr>
            }
        }
        </table>
</div>

@{ Html.RenderAction("FuncionInsertar", "Servicios");}